
extends layout

block content

		div.container.top-push
			if NetatmoConnected == true
				div.row
					div.col-md-8
						h1 My Netatmo devices
						p These are your Netatmo devices. To decide which ones you'd like to be shown here, just click on a device to the left and it's added to HomeSharp. No longer wish to see the details for a device? Just do the opposite, click a device to the right to remove it from HomeSharp.
					div.col-md-4
						h2 Handle sync
						p You have authenticated with success, your Netatmo devices are shown below.
						p
							button#btn-unlinkNetatmo.btn.btn-danger.btn-xs Unlink account

				div.row
					div.col-md-12
						h2 Current stats

				div.row
					each device in pickedDevices
						div.col-md-3
							h4 #{device.moduleName}
							each meassure in device.meassures
								p
									strong #{meassure.type}
								p.small #{meassure.value}&nbsp;#{meassure.unit}

				div.row
					p &nbsp;
					div.col-md-4
						h4 All your available devices

						ul#allDevicesList.bg-info
							each device in devices
								li
									<a href='#' class='addDevice' id='#{device.deviceId}'>#{device.moduleName}</a>
					div.col-md-4
						p.text-center
							span.glyphicon.glyphicon-arrow-left.text-center &nbsp;
							span.glyphicon.glyphicon-arrow-right.text-center

					div.col-md-4
						h4 Your selected devices

						ul#userPickedDevicesList.bg-success
							each device in pickedDevices
								li
									<a href='#' class='removeDevice' id='#{device.deviceId}'>#{device.moduleName}</a>


					p &nbsp;

			else
				div.row
					div.col-md-8
						h1 Sync with Netatmo
						div#Connect
							p There are currently no Netatmo-account synced with HomeSharp.
							p
								a.btn.btn-default(role="button", href='https://api.netatmo.net/oauth2/authorize?client_id=54c64eaa485a8812863eadfd&redirect_uri=#{domain}/brand/netatmo&scope=read_station%20read_thermostat%20write_thermostat&state=#{state_token}') Sync now

block scripts
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/netatmo.js')
	script(src='/js/controllers/netatmoController.js')
